<div class="text-center pt-10">
  <h1 class="text-5xl font-extrabold text-white mb-4">
    中二节奏 档案工具
  </h1>
  <p class="text-xl text-gray-400">纯前端工具，安全、快速、便捷。</p>
</div>
<div class="grid md:grid-cols-4 gap-8">
  <a href="#rin-to-lx" class="tool-card block hover:scale-105">
    <div class="tool-card-content">
      <h2 class="text-2xl font-bold text-indigo-400 mb-3">
        Rin服存档转落雪成绩
      </h2>
      <p class="text-gray-300">
        将Rin服导出的中二节奏档案转换为落雪咖啡屋兼容的成绩。
      </p>
    </div>
  </a>
  <a href="#merge-csv" class="tool-card block hover:scale-105">
    <div class="tool-card-content">
      <h2 class="text-2xl font-bold text-indigo-400 mb-3">
        落雪成绩合并
      </h2>
      <p class="text-gray-300">
        将两个落雪成绩文件合并为一个（也可以合并具有相同表头的 CSV
        文件）。
      </p>
    </div>
  </a>
  <a href="#edit-score" class="tool-card block hover:scale-105">
    <div class="tool-card-content">
      <h2 class="text-2xl font-bold text-indigo-400 mb-3">
        修改Rin服单曲成绩
      </h2>
      <p class="text-gray-300">
        修改 RinNet
        存档中的单曲成绩，支持修改各个判定数量、通关状态等信息。
      </p>
    </div>
  </a>
  <a href="#edit-ongeki" class="tool-card block hover:scale-105">
    <div class="tool-card-content">
      <h2 class="text-2xl font-bold text-indigo-400 mb-3">修改音击单曲成绩</h2>
      <p class="text-gray-300">编辑音击游戏本地存档的单曲判定与分数数据并重新生成存档。</p>
    </div>
  </a>
</div>
